---
- name: Judges whether this Mac is remote control by Vagrant.
  stat:
    path: /vagrant
  register: vagrant

- name: Remove startup
  shell: osascript -e 'tell application "System Events" to delete login item "setup"'
  when: not vagrant.stat.exists
  ignore_errors: true

# - import_tasks: ../../common/handlers/reboot.yml
