---
- include: _defaults.yml
  with_items:
  - desc: Appearance / Set sidebar icon size to large.
    path: NSGlobalDomain
    key: NSTableViewDefaultSizeMode
    value: -int 3
    expect: 3
  - desc: Appearance / Set automatic view to scroll bar.
    path: NSGlobalDomain
    key: AppleShowScrollBars
    value: -string "Automatic"
    expect: Automatic
  - desc: Appearance / Disable to resume windows on reboot.
    path: com.apple.systempreferences
    key: NSQuitAlwaysKeepsWindows
    value: -bool NO
    expect: 0

- include: _defaults.yml
  with_items:
  - desc: Appearance / Use focus ring.
    path: NSGlobalDomain
    key: NSAutomaticFocusRingEnabled
    value: -bool YES
    expect: 1
  - desc: Appearance / Use focus ring with animation.
    path: NSGlobalDomain
    key: NSUseAnimatedFocusRing
    value: -bool YES
    expect: 1
  - desc: Appearance / Set 0.1sec when resize panel time span.
    path: NSGlobalDomain
    key: NSWindowResizeTime
    value: -float 0.1
    expect: 0.1
  - desc: Appearance / Expand to default save panel. (1/2)
    path: NSGlobalDomain
    key: NSNavPanelExpandedStateForSaveMode
    value: -bool YES
    expect: 1
  - desc: Appearance / Expand to default save panel. (2/2)
    path: NSGlobalDomain
    key: NSNavPanelExpandedStateForSaveMode2
    value: -bool YES
    expect: 1
  - desc: Appearance / Save to iCloud by default dest.
    path: NSGlobalDomain
    key: NSDocumentSaveNewDocumentsToCloud
    value: -bool YES
    expect: 1
  - desc: Appearance / Disable automatic termination of inactive apps.
    path: NSGlobalDomain
    key: NSDisableAutomaticTermination
    value: -bool YES
    expect: 1
  - desc: Appearance / Enable show help on DevMode
    path: com.apple.helpviewer
    key: DevMode
    value: -bool YES
    expect: 1
