---
# ### Because it is risk to fail, it is deleted temporary. ###
# - name: Terminal / Download terminal profile.
#   get_url:
#     url: https://gist.githubusercontent.com/danmaq/0673d0593205966b453322022db2a68e/raw/b0f1f3692c504746f720782e718caaafd9a216fc/danmaq.terminal
#     dest: /tmp/danmaq.terminal
# - name: Terminal / Load terminal profile.
#   shell: open /tmp/danmaq.terminal
# - name: Terminal / Remove loaded profile.
#   file:
#     path: /tmp/danmaq.terminal
#     state: absent

- include_tasks: _defaults.yml
  with_items:
  - desc: Terminal / Set using encode
    path: com.apple.terminal
    key: StringEncodings
    value: -array 3 4 8 2147483649 2147485224
    expect: 2147485224
  - desc: Terminal / Enable Secure Keyboard Entry
    path: com.apple.terminal
    key: SecureKeyboardEntry
    value: -bool YES
    expect: 1
  - desc: Terminal / Set default window profile settings
    path: com.apple.terminal
    key: Default Window Settings
    value: -string "danmaq"
    expect: danmaq
  - desc: Terminal / Set startup window profile settings
    path: com.apple.terminal
    key: Startup Window Settings
    value: -string "danmaq"
    expect: danmaq

- name: Terminal / Create .bash_profile
  file:
    path: ~/.bash_profile
    mode: 0755
    state: touch

- name: Terminal / Set .bash_profile
  lineinfile:
    dest: ~/.bash_profile
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
  - regexp: 'alias\sll='
    line: alias ll='ls -l'
  - regexp: 'alias\sla='
    line: alias la='ls -a'
  - regexp: 'alias\sls='
    line: alias ls='ls -G'
  