---
- name: Install develop tools from Homebrew.
  homebrew:
    name: '{{ item }}'
    state: latest
  with_items:
  - cmake
  - git-lfs
  - nodebrew
  - hub
  - hwloc
  - imagemagick
  - libmicrohttpd
  - openssl
  - watchman
  - vim
  - yarn

- name: Create nodebrew work folders
  file:
    path: '{{ item }}'
    state: directory
  with_items:
  - ~/.nodebrew
  - ~/.nodebrew/src

- name: Install npmbrew
  npm:
    name: npmbrew
    global: yes

- name: Assign path to nodebrew and npmbrew.
  lineinfile:
    dest: ~/.bash_profile
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
  - regexp: '\.npmbrew/current/bin'
    line: export PATH=$HOME/.npmbrew/current/bin:$PATH'
  - regexp: '\.nodebrew/current/bin'
    line: export PATH=$HOME/.nodebrew/current/bin:$PATH'
    
- name: Install Wercker app develop.
  homebrew_cask:
    name: '{{ item }}'
    state: present
  with_items:
  - wercker
  - wercker-cli
    
- name: Install Expo XDE for React Native app develop.
  homebrew_cask:
    name: expo-xde
    state: present

- name: Install .NET Framework SDK from Homebrew cask.
  homebrew_cask:
    name: dotnet-sdk
    state: present

- name: Install Visual Studio Code from Homebrew cask.
  homebrew_cask:
    name: visual-studio-code
    state: present

- name: Install Visual Studio from Homebrew cask.
  homebrew_cask:
    name: visual-studio
    state: present

- name: Install Android SDK from Homebrew cask.
  homebrew_cask:
    name: android-sdk
    state: present

- name: Install Android NDK from Homebrew cask.
  homebrew_cask:
    name: android-ndk
    state: present

- name: Install Android Studio from Homebrew cask.
  homebrew_cask:
    name: android-studio
    state: present

- name: Install Unity from Homebrew cask.
  homebrew_cask:
    name: unity
    state: present

- name: Install Unity Add-on from Homebrew cask.
  homebrew_cask:
    name: '{{ item }}'
    state: present
  with_items:
  - unity-android-support-for-editor
  - unity-ios-support-for-editor
  - unity-linux-support-for-editor
  - unity-webgl-support-for-editor
  - unity-windows-support-for-editor

- name: Install Unity Stanard Assets from Homebrew cask.
  homebrew_cask:
    name: unity-standard-assets
    state: present

- name: Validate installed Meteor.
  shell: which meteor
  register: meteor
  ignore_errors: true

- name: Download Meteor
  get_url:
    url: https://install.meteor.com/
    dest: ~/Downloads/install.meteor.sh
    mode: 0755
  when: 'not meteor.stdout'

- name: Install Meteor
  shell: ~/Downloads/install.meteor.sh
  when: 'not meteor.stdout'

- name: Set .gitconfig
  template:
    src: .gitconfig.j2
    dest: ~/.gitconfig

- name: Set .vimrc
  template:
    src: .vimrc.j2
    dest: ~/.vimrc
