---
- name: Install develop tools from Homebrew.
  homebrew:
    name: '{{ item }}'
    state: latest
  with_items:
  - imagemagick
  - npm
  - openssh
  - vim
  - hub

# - name: Validate installed Meteor.
#   shell: which meteor
#   register: meteor

# - name: Install Meteor
#   shell: curl https://install.meteor.com/ | sh
#   when: 'not meteor.stdout'

- name: Install develop tools from Homebrew cask.
  homebrew_cask:
    name: '{{ item }}'
    state: present
  with_items:
  - dotnet-sdk
  # - visual-studio-code-insiders
  - visual-studio

# - name: Install develop tools from mas.
#   shell: 'mas install {{ item }}'
#   register: mas
#   changed_when: '"already installed" in mas.stdout'
#   with_items:
#   - 497799835 # Xcode
#   - 883878097 # macOS Server
