---
- include: runtimes.yml
- include: utils.yml
- include: browsers.yml
- include: virtualization.yml
- include: webstorages.yml
- include: multimedia.yml
- include: office.yml
- include: community.yml
- include: games.yml
- include: dev.yml
