---
- name: Install Palallels Desktop from Homebrew cask.
  homebrew_cask:
    name: parallels-desktop
    state: present

- name: Install Virtualbox from Homebrew cask.
  homebrew_cask:
    name: virtualbox
    state: present

- name: Install Vagrant from Homebrew cask.
  homebrew_cask:
    name: vagrant
    state: present

- name: Install Palallels Desktop from Homebrew cask.
  homebrew_cask:
    name: parallels-desktop
    state: present

- name: Install others virtualization tools from Homebrew.
  homebrew:
    name: '{{ item }}'
    state: latest
  with_items:
  - docker-machine
  - docker-machine-parallels
  - docker
