---
- name: Collect current computer name.
  shell: scutil --get ComputerName
  register: pcname
  changed_when: false

- name: Set computer name
  shell: 'scutil --set ComputerName {{ computername }}'
  become: yes
  when: pcname.stdout != computername
  notify: Reboot macOS

- name: Collect current host name.
  shell: scutil --get LocalHostName
  register: hostname
  changed_when: false

- name: Set host name
  shell: 'scutil --set LocalHostName {{ computername }}'
  become: yes
  when: hostname.stdout != computername
  notify: Reboot macOS

- name: Collect NetBIOS name
  shell: defaults read /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName
  register: netbiosname
  changed_when: false
  ignore_errors: true

- name: Set NetBIOS name
  shell: 'defaults write /Library/Preferences/SystemConfiguration/com.apple.smb.server NetBIOSName -string "{{ computername }}"'
  when: netbiosname.stdout != computername
  notify: Reboot macOS
